<h3>Importing Packages</h3>

In [1]:
# This cell is used for importing necessary packages such as NumPy, Pandas and an SQL extension.
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
%reload_ext sql

In [2]:
con = sqlite3.connect("SQLiteMagicDB.db")
cur = con.cursor()
%sql sqlite:///SQLiteMagicDB.db

<h3>Importing Datasets</h3>

In [3]:
#This cell reads the two CSV source files and stores them in DataFrames named Tweet_Train and Tweet_Test.
Tweet_Train = pd.DataFrame(pd.read_csv('twitter_training.csv'))
Tweet_Test = pd.DataFrame(pd.read_csv('twitter_validation.csv'))

<h3>Understanding the Data</h3>

In [4]:
#To rename the columns of the Tweet_Train and Tweet_Test DataFrames. 
headers=['Tweet ID', 'Entity', 'Sentiment', 'Content']
Tweet_Train.columns = headers
Tweet_Test.columns = headers
#To display the first 25 rows of Tweet_Train.
Tweet_Train.head(25)

,Tweet ID,Entity,Sentiment,Content
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
5,2402,Borderlands,Positive,So I spent a few hours making something for fu...
6,2402,Borderlands,Positive,So I spent a couple of hours doing something f...
7,2402,Borderlands,Positive,So I spent a few hours doing something for fun...
8,2402,Borderlands,Positive,So I spent a few hours making something for fu...
9,2402,Borderlands,Positive,2010 So I spent a few hours making something f...
10,2402,Borderlands,Positive,was
11,2403,Borderlands,Neutral,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM..."
12,2403,Borderlands,Neutral,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM..."
13,2403,Borderlands,Neutral,"Rock-Hard La Varlope, RARE & POWERFUL, HANDSOM..."
14,2403,Borderlands,Neutral,"Rock-Hard La Vita, RARE BUT POWERFUL, HANDSOME..."
15,2403,Borderlands,Neutral,"Live Rock - Hard music La la Varlope, RARE & t..."
16,2403,Borderlands,Neutral,"I-Hard like me, RARE LONDON DE, HANDSOME 2011,..."
17,2404,Borderlands,Positive,that was the first borderlands session in a lo...
18,2404,Borderlands,Positive,this was the first Borderlands session in a lo...
19,2404,Borderlands,Positive,that was the first borderlands session in a lo...
20,2404,Borderlands,Positive,that was the first borderlands session in a lo...
21,2404,Borderlands,Positive,that I was the first real borderlands session ...
22,2404,Borderlands,Positive,that was the first borderlands session in a ho...
23,2405,Borderlands,Negative,the biggest dissappoinment in my life came out...
24,2405,Borderlands,Negative,The biggest disappointment of my life came a y...

In [5]:
Tweet_Train.tail(25)

,Tweet ID,Entity,Sentiment,Content
74656,9196,Nvidia,Negative,really doesn't look bad btw!.. net.com/google-...
74657,9197,Nvidia,Neutral,Nvidia doesn’t want to give up its 2017 ‘crypt...
74658,9197,Nvidia,Neutral,"Nvidia plans to release its 2017 ""Crypto Craze..."
74659,9197,Nvidia,Neutral,"Nvidia does not want to give up its ""cryptoins..."
74660,9197,Nvidia,Neutral,Nvidia doesn’t intend to give away its 2017 ad...
74661,9197,Nvidia,Neutral,Nvidia therefore doesn ’ t want to give up its...
74662,9197,Nvidia,Neutral,is doesn’t should I give up its password ‘cryp...
74663,9198,Nvidia,Negative,Nvidia really delayed the 3070 2 weeks .
74664,9198,Nvidia,Negative,Nvidia really delayed the 3070 by 2 weeks.
74665,9198,Nvidia,Negative,Nvidia did delay by 3070 2 weeks.
74666,9198,Nvidia,Negative,Nvidia really delayed the 3070 several weeks.
74667,9198,Nvidia,Negative,Nvidia really only delayed the 3070 2 flight w...
74668,9198,Nvidia,Negative,Nvidia really delayed the next 2 weeks.
74669,9199,Nvidia,Positive,Let no elim go unnoticed. . . . NVIDIA Highlig...
74670,9199,Nvidia,Positive,t let Elim go unnoticed.... NVIDIA Highlights ...
74671,9199,Nvidia,Positive,Let no elite go unnoticed... NVIDIA Highlights...
74672,9199,Nvidia,Positive,Let no elim go unnoticed.... NVIDIA Highlights...
74673,9199,Nvidia,Positive,Let a no information elim that go unnoticed......
74674,9199,Nvidia,Positive,<unk> my elim be no.... NVIDIA Highlights Pict...
74675,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [6]:
#To get column names of the dataset
Tweet_Train.columns

Index(['Tweet ID', 'Entity', 'Sentiment', 'Content'], dtype='object')

In [7]:
#To get the number of rows and columns in the dataset
Tweet_Train.shape

(74681, 4)

<h3> Data Cleaning </h3>

In [8]:
#Checking for missing values
missing_data = Tweet_Train.isnull()
#Counting the missing values for each column
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())
    print("")

Tweet ID
False    74681
Name: count, dtype: int64

Entity
False    74681
Name: count, dtype: int64

Sentiment
False    74681
Name: count, dtype: int64

Content
False    73995
True       686
Name: count, dtype: int64

In [9]:
#Counting the missing values for each column
Tweet_Train.isna().sum()

Tweet ID       0
Entity         0
Sentiment      0
Content      686
dtype: int64

In [10]:
#Viewing the NaN values for understanding their nature
Mask=Tweet_Train['Content'].isnull()
Tweet_Train[Mask]

       Tweet ID       Entity Sentiment Content
60         2411  Borderlands   Neutral     NaN
552        2496  Borderlands   Neutral     NaN
588        2503  Borderlands   Neutral     NaN
744        2532  Borderlands  Positive     NaN
1104       2595  Borderlands  Positive     NaN
...         ...          ...       ...     ...
73971      9073       Nvidia  Positive     NaN
73972      9073       Nvidia  Positive     NaN
74420      9154       Nvidia  Positive     NaN
74421      9154       Nvidia  Positive     NaN
74422      9154       Nvidia  Positive     NaN

[686 rows x 4 columns]

In [11]:
#To get the total number of rows and columns in the dataset
count_total = Tweet_Train.shape
count_total

(74681, 4)

In [12]:
#To get the number of rows and columns in the dataset with missing values
count_dropna_rows = Tweet_Train.dropna().shape
count_dropna_rows

(73995, 4)

In [13]:
#To remove duplicate values
Tweet_Train[Tweet_Train.duplicated(subset=['Content'], keep=False)]
Tweet_Train_Clean= Tweet_Train.drop_duplicates(subset=['Content'], keep='first')
#To remove missing values
Tweet_Train_Clean=Tweet_Train_Clean.dropna()
#To get the number of rows and columns in the clean dataset
Tweet_Train_Clean.shape

(69490, 4)

<h3> Data Transformation </h3>

In [14]:
# To define the path to the SQLite Data Base
database_url = 'sqlite:///SQLiteMagicDB.db'

# To create a SQLAlchemy engine
engine = create_engine(database_url)

In [15]:
#To add the Tweet_Train_Clean to the SQLite Data Base
Tweet_Train_Clean.to_sql('Tweet_Train_Clean', con=engine, if_exists='replace', index=False)

69490

In [24]:
# To group the data by entity using SQL
# SQL query
sql_query = """
SELECT 
    Entity,
    COUNT(*) AS Number_of_Emotions
FROM 
    Tweet_Train_Clean
GROUP BY
    Entity
"""

# Execute the SQL query
pd.read_sql_query(sql_query, engine)

                               Entity  Number_of_Emotions
0                              Amazon                2193
1                         ApexLegends                2187
2                      AssassinsCreed                2104
3                         Battlefield                2191
4                         Borderlands                2179
5                               CS-GO                2107
6                          CallOfDuty                2259
7           CallOfDutyBlackopsColdWar                2202
8                       Cyberpunk2077                2093
9                               Dota2                2192
10                               FIFA                2178
11                           Facebook                2226
12                           Fortnite                2110
13                             Google                2140
14                GrandTheftAuto(GTA)                2158
15                        Hearthstone                2145
16                          HomeDepot                2159
17                    LeagueOfLegends                2162
18                          MaddenNFL                2260
19                          Microsoft                2224
20                              NBA2K                2242
21                             Nvidia                2123
22                          Overwatch                2154
23                  PlayStation5(PS5)                2135
24  PlayerUnknownsBattlegrounds(PUBG)                2042
25             RedDeadRedemption(RDR)                2073
26               TomClancysGhostRecon                2220
27               TomClancysRainbowSix                2209
28                            Verizon                2258
29                       WorldOfCraft                2209
30                      Xbox(Xseries)                2136
31                    johnson&johnson                2220

In [26]:
# To group the data by Sentiments using SQL
# SQL query
sql_query = """
SELECT 
    Sentiment,
    COUNT(*) AS Number_of_Emotions
FROM 
    Tweet_Train_Clean
GROUP BY
    Sentiment
"""

# Execute the SQL query
pd.read_sql_query(sql_query, engine)

    Sentiment  Number_of_Emotions
0  Irrelevant               12216
1    Negative               21166
2     Neutral               17042
3    Positive               19066